@font-face {
    font-family: "95";
    src:
      url("./fonts/w95fa.woff2") format("woff2"),
      url("./fonts/w95fa.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
  

:root{
    --headerHeight: 150px;
    --footerHeight: 100px;
    --sidebarWidth: 200px;
    --contentPadding: 20px;
    --doublePadding: calc(var(--contentPadding) * 2);
    --contentPaddingXL: 100px;
    --contentPaddingXXL: 150px;
    --spacingMargin: 100px 250px 100px 250px;
    --font-size: 36pt;
    --font-family:"95", serif;
    --colorMain: #200034;
    --colorAccent1: #56008c;
    --colorAccent2: #4c0050;
    --colorSignal: #a80054;
    --colorSignalHigh: #d8006c;
    --colorBoardDark: #500028;
    --colorText1:#f2f2f2;
    --colorText2:#797979;
    --colorBackground: #f2f2f2;
    
}
html{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: stretch;
    justify-content: center;

    height: 100%;
    width: 100%;
    margin: 0px;

    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--colorText1);

    background: url(../Chesspieces/SVG/Background.svg) center no-repeat fixed;
    background-size: cover;
}

p{
    height: fit-content;
    margin: 0px;
}
input{

    font-family: var(--font-family);
    font-size: var(--font-size);

}

input::placeholder{

    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--colorText2);

}

.wrapperXL{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: auto;
    width: 100%;
    margin: var(--spacingMargin);

    background: #111111;
}

.wrapperXLR{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;

    height: auto;
    width: 100%;
    margin: var(--spacingMargin);
}

.wrapperL{
    display: flex;
    align-items: center;
    align-self:stretch;
    justify-content: start;
    flex-direction: column;

    height: auto;
    width: 100%;
}

.wrapperS {
    display: flex;
    align-items: stretch;
    justify-content: stretch;

    height: calc(50% - var(--doublePadding));
    width: 100%;

}

.banner{
    display:flex;
    align-items: center;
    flex-direction: row;

    height: auto;
    width: auto;
    padding: var(--contentPadding);

    background-color: var(--colorAccent1);
}

.loginForm{
    display: flex;
    align-self: center;
    flex-direction: column;

    height: 60%;
    width: 30%;

    background: var(--colorMain);
}

.textInput{
    height: 50px;
    width: auto;
    margin: var(--contentPadding);
}

.loginButton {
    align-self: center;

    height: auto;
    width: 50%;
    margin: var(--contentPadding);

    color: var(--colorText1);

    background-color: var(--colorSignal);
    
    border: none;
}

.loginButton:hover{
    background-color: var(--colorSignalHigh);
}

.roomBrowser{
    display: flex;
    flex-direction: column;
    align-self: stretch;

    width: auto;
    height: 50%;
    margin: var(--contentPadding);

    background: var(--colorMain);

}

.ranking{
    display: flex;
    flex-direction: column;
    align-self: stretch;

    width: 100%;
    height: auto;
    margin: var(--contentPadding);

    background-color: var(--colorMain);

}

.friendbar {
    height: auto;
    width: 30%;
    margin: var(--contentPadding);

    background:var(--colorMain);
}

.createRoom {
    margin-left: auto;

    width: 300px;
    height: 100%;

    color: var(--colorText1);
    background-color: var(--colorSignal);
    
    border:none;
}

.createRoom:hover{
    background-color: var(--colorSignalHigh);
}

.lobbyList {
    height: auto;
    width: auto;
    margin: 0 0 var(--contentPadding) 0;

    overflow: auto;
}

.list{
    height: auto;
    width: auto;

    align-self:stretch;

    overflow-y: scroll;
}

.lobbyCard {
    height: 150px;
    width: auto;
    margin: var(--contentPadding);

    background-color: var(--colorAccent2);
}

.rankingCard {
    height: 75px;
    width: auto;
    margin:  var(--contentPadding);

    background-color: var(--colorAccent2);
}

.gameBoard {
    align-self: stretch;

    height:auto;
    margin: var(--contentPadding)
}

.friendCard {
    width:auto;
    height: 100px;
    padding: var(--contentPadding);

    background-color: var(--colorAccent2);
}

.gameInfo {
    height: auto;
    width: 0px;
    margin: var(--contentPadding);

    background: var(--colorMain);
}

.textBox {
    display: flex;
    height: fit-content;
    width: auto;
    align-items: center;
    justify-content: center;
    margin: var(--contentPaddingXL);
}

.timer {
    display: flex;
    height: fit-content;
    width: auto;
    align-items: center;
    justify-content: center;
}

.boardLettering{
    font-size: 12pt;
    fill: var(--colorText1);
    
}
