{% load static %}

<!DOCTYPE html>

<html>

<head>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <script src="{% static 'js/dashboard.js' %}" type="module"></script>

</head>

<body>
    <div id="sidebar" class="sidebar"></div>
    <div id="wrapper" class="wrapperXL">

        <div id="roomBrowser" class="roomBrowser">
        </div>
        <div class="wrapperL">
            <div id="globalRanking" class="ranking">

            </div>
            <div id="friendRanking" class="ranking">

            </div>
        </div>
    </div>
    <div id="friendbar" class="friendbar"></div>
   
</body>

</html>