{% load static %}

<!DOCTYPE html>

<html>

<head>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <script src="{% static 'js/dashboard.js' %}" type="module"></script>

</head>

<body>
    <div id="wrapperXL" class="wrapperXLR">
        {{uID}}

        <div id="wrapperL" class="wrapperL">

            <div id="roomBrowser" class="roomBrowser">

                <div id="roomBrowserBanner" class="banner">
                    <p>Lobby Browser</p>
                </div>

            </div>

            <div class="wrapperS">

                <div id="globalRanking" class="ranking">

                    <div id="globalBrowserBanner" class="banner">
                        <p>Global Ranking</p>
                    </div>

                </div>

                <div id="friendRanking" class="ranking">

                    <div id="friendBrowserBanner" class="banner">
                        <p>Friend Ranking</p>
                    </div>

                </div>

            </div>
        </div>

        <div id="friendbar" class="friendbar">

            <div id="friendListBanner" class="banner">
                <p>Friend Ranking</p>  
            </div>

        </div>

    </div>

</body>

</html>